<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/styles/styles.css">
		<title>Login</title>
	</head>
	<body>
		<main>
			<h1>Login</h1>
			<form id="login" action="/login" method="post">
				<p>
					<label for="name">Username: </label>
					<input type="text" name="name" id="name" size="10">
				</p>
				<p>
					<label for="password">Password: </label>
					<input type="password" name="password" id="password" size="15">
				</p>
				<button type="submit" name="button">Submit</button>
			</form>
			<a href="/"><button type="submit" name="button">Menu</button></a>
		</main>
	</body>
</html>
