<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/styles/style.css">
	</head>
	<body>
		<main>
			<h1>Menu</h1>
			<a href="/all"><button type="button">Home (No login Required)</button></a>
			<a href="/publicdata"><button type="button">user data</button></a>
			<a href="/admindata"><button type="button">admin data</button></a>
			<a href="/login"><button type="button">login</button></a>
			<a href="/logout"><button type="button">logout</button></a>
		</main>
	</body>
</html>
